checkpoint/ck_mol_rnn
checkpoint/cp_mol_rnn
checkpoint/mol_rnn

datasets/.ipynb_checkpoints
datasets/atom_types.txt
datasets/ChEMBL.txt
datasets/ChEMBL_k.txt
datasets/ChEMBL_prop.txt
datasets/ChEMBL_rm.txt
datasets/ChEMBL_scaffold.txt
datasets/kinase.tsv
datasets/scaffolds.smi

.idea

mx_mg/models/__pycache__
mx_mg/data/__pycache__
mx_mg/__pycache__