checkpoint/ck_mol_rnn
checkpoint/cp_mol_rnn
checkpoint/mol_rnn

datasets/*
!datasets/datasets.md

.idea

mx_mg/models/__pycache__
mx_mg/data/__pycache__
mx_mg/__pycache__
__pycache__

images/*
!images/images.md